Flask==1.1.1
matplotlib==3.2.0
tensorflow==1.15.2
numpy==1.18.1
h5py==2.10.0
pycocotools==2.0.0
Keras==2.1.0
scipy==1.4.1
imgaug==0.4.0
scikit_image==0.16.2
opencv_python==4.2.0.32
pip==20.0.2
ipython==7.13.0
